@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

* {
  box-sizing: border-box;
}

body {
  min-block-size: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 20px;
  font-family: 'Jersey 20', sans-serif;
  font-size: 20px;
}

button {
  font: inherit;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.no-scroll {
  overflow: hidden;
}
