@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  block-size: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 20px;
  font-family: 'Golos Text', sans-serif;
}

button {
  font: inherit;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
