$main-color: #000;
$shadowed-main-color: #2a6329;
$second-accent-color: rgba(45 253 42 / 50%);
$accent-color: #2dfd2a;
$shadowed-accent-color: #282828;

.page.theme_dark {
  background-color: $main-color;

  .menu {
    color: $accent-color;
  }

  .board-container {
    color: $accent-color;
  }

  .board {
    & .cell {
      border-color: $accent-color;
    }
    & .cell:hover {
      background-color: $shadowed-main-color;
    }
    & .cell.active {
      background-color: $second-accent-color;
    }

    & .cell.empty {
      &::after,
      &::before {
        background-color: $accent-color;
      }
    }
  }

  .button {
    background-color: $main-color;
    color: $accent-color;
    border-color: $accent-color;

    &:disabled {
      background-color: $shadowed-main-color;
      color: $shadowed-accent-color;
      border-color: $shadowed-accent-color;
    }

    @media (hover: hover) {
      &.level:hover:not(:disabled),
      &.theme-menu-button:hover:not(:disabled),
      &.game-menu-button:hover:not(:disabled) {
        color: $main-color;
        background-color: $accent-color;
      }
    }

    &.level:active:not(:disabled),
    &.theme-menu-button:active:not(:disabled),
    &.game-menu-button:active:not(:disabled) {
      color: $main-color;
      background-color: $accent-color;
    }

    &.level:focus-visible:not(:disabled),
    &.theme-menu-button:focus-visible:not(:disabled),
    &.game-menu-button:focus-visible:not(:disabled) {
      outline: none;
      color: $main-color;
      background-color: $accent-color;
    }
  }

  .theme-menu-button {
    outline: none;
  }

  .modal-content {
    background-color: $main-color;
    color: $accent-color;
    border-color: $accent-color;
  }

  @media (hover: hover) {
    .close:hover {
      color: $shadowed-main-color;
    }
  }

  .best-results-row-header {
    background-color: $accent-color;
    color: $main-color;
  }

  .clue span:hover {
    color: $second-accent-color;
  }
}
