$main-color: #fff;
$shadowed-main-color: #e5e5e5;
$accent-color: #000;
$second-accent-color: rgb(0 0 0 / 50%);
$shadowed-accent-color: #b3b3b3;

.page.theme_light {
  background-color: $main-color;

  .board-container {
    color: $accent-color;
  }

  .board {
    & .cell {
      border-color: $accent-color;
    }
    & .cell.active {
      background-color: $second-accent-color;
    }
    & .cell.empty {
      &::after,
      &::before {
        background-color: $accent-color;
      }
    }
  }

  .button {
    background-color: $main-color;
    color: $accent-color;
    border-color: $accent-color;

    &:disabled {
      background-color: $shadowed-main-color;
      color: $shadowed-accent-color;
    }
  }

  .theme-menu-button {
    outline: none;
  }

  .modal-content {
    background-color: $main-color;
    color: $accent-color;
    border-color: $accent-color;
  }

  @media (hover: hover) {
    .close:hover {
      font-weight: 600;
    }
  }
}
