@use './common.scss';
@use 'light.scss' as light;
@use 'dark.scss' as dark;

.button {
  padding: 8px 12px;
  border: none;
  text-transform: uppercase;
}

.theme-menu {
  display: flex;
}

.board-5 {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-template-rows: repeat(5, 40px);
}
