@use './common.scss';
@use 'light.scss' as light;
@use 'dark.scss' as dark;

.page {
  min-inline-size: 300px;
  padding: 20px;
}

.button {
  padding: 8px 12px;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;

  &:disabled {
    border: transparent;
  }
}

.theme-menu {
  display: flex;
  gap: 10px;
  align-self: flex-end;

  & > .theme-menu-button {
    border: none;
  }
}

.theme-menu-button {
  padding: 4px 8px;
  font-size: 0.8rem;
}

.board {
  display: grid;
  inline-size: 100%;
  max-inline-size: 500px;
  border-width: 3px 1px 1px 3px;
  border-style: solid;
}

.board > .cell {
  aspect-ratio: 1 / 1;
  border-style: solid;
  border-width: 1px;
}

.board-5 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.board-10 {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  & > :nth-child(n + 51):nth-child(-n + 60) {
    border-top-width: 3px;
  }

  & > :nth-child(10n + 5) {
    border-right-width: 3px;
  }
}

.board-15 {
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);

  & > :nth-child(n + 76):nth-child(-n + 90),
  & > :nth-child(n + 151):nth-child(-n + 165) {
    border-top-width: 3px;
  }

  & > :nth-child(15n + 5),
  & > :nth-child(15n + 10) {
    border-right-width: 3px;
  }
}

.nonogram-menu {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  display: none;

  &:target {
    display: flex;
  }

  & > .nonogram {
    padding: 4px 8px;
    border: none;
    outline: none;
    transition:
      text-shadow 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;

    &.active {
      box-shadow: 0 1px 0 0 currentColor;
    }

    &:active {
      box-shadow: 0 1px 0 0 currentColor;
    }

    @media (hover: hover) {
      &:hover {
        box-shadow: 0 1px 0 0 currentColor;
      }
    }
  }
}
