@use './common.scss';
@use 'light.scss' as light;
@use 'dark.scss' as dark;

.page {
  min-inline-size: 300px;
  padding: 20px;
}

.button {
  padding: 8px 12px;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;

  &:disabled {
    border: transparent;
  }
}

.theme-menu {
  display: flex;
  gap: 10px;
  align-self: flex-end;

  & > .theme-menu-button {
    border: none;
  }
}

.theme-menu-button {
  padding: 4px 8px;
  font-size: 1rem;
}

.board {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  inline-size: 100%;
  max-inline-size: 500px;
  border-width: 3px 1px 1px 3px;
  border-style: solid;
}

.board > .cell {
  position: relative;
  aspect-ratio: 1 / 1;
  border-style: solid;
  border-width: 1px;

  &.empty {
    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      inline-size: 2px;
      block-size: 100%;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }
}

.board-5 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.board-10 {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  & > :nth-child(n + 51):nth-child(-n + 60) {
    border-top-width: 3px;
  }

  & > :nth-child(10n + 5) {
    border-right-width: 3px;
  }
}

.board-15 {
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);

  & > :nth-child(n + 76):nth-child(-n + 90),
  & > :nth-child(n + 151):nth-child(-n + 165) {
    border-top-width: 3px;
  }

  & > :nth-child(15n + 5),
  & > :nth-child(15n + 10) {
    border-right-width: 3px;
  }
}

.nonogram-menu {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  display: none;

  &:target {
    display: flex;
  }

  & > .nonogram {
    padding: 4px 8px;
    border: none;
    outline: none;
    transition:
      text-shadow 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;

    &:active {
      box-shadow: 0 1px 0 0 currentColor;
    }

    @media (hover: hover) {
      &:hover {
        box-shadow: 0 1px 0 0 currentColor;
      }
    }

    &:disabled {
      box-shadow: none;
    }
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  inline-size: 80%;
  min-inline-size: 240px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  border-width: 1px;
  border-style: solid;
}

.close {
  transition: font-weight 0.2s ease-in-out;
}

.close::after {
  content: 'X';
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 1.4rem;
  cursor: pointer;
}

.board-container {
  inline-size: 100%;
  max-inline-size: 500px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 5px;
}

// .board-container.board-container-15 {
//   grid-template-columns: auto 1fr;
// }

.rows-clues {
  display: grid;
  grid-row: 2/3;
  grid-column: 1/2;
  align-items: center;
  justify-content: end;
}

.rows-clues-5 {
  grid-template-rows: repeat(5, 1fr);
}

.rows-clues-10 {
  grid-template-rows: repeat(10, 1fr);
}

.rows-clues-15 {
  grid-template-rows: repeat(15, 1fr);
}

.cols-clues {
  display: grid;
  grid-row: 1/2;
  grid-column: 2/3;
  align-items: end;
  justify-content: center;
}

.cols-clues-5 {
  grid-template-columns: repeat(5, 1fr);
}

.cols-clues-10 {
  grid-template-columns: repeat(10, 1fr);
}

.cols-clues-15 {
  grid-template-columns: repeat(15, 1fr);
}

.clue {
  text-align: center;
}

.clue-col {
  white-space: pre-wrap;
}

.board-container-15 .clue {
  font-size: 1rem;
}
